header{
    width: 125px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    color: #585858;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 0;
    border-right: 1px solid rgb(219, 219, 219);
}

.logo{
    text-align: center;
    filter: invert(70%);
}

.logo img{
    width: 90px;
}

.menu-itens ul{
    list-style: none;
    padding-left: 25px;
}

.menu-itens ul li{
    font-family: "Montserrat-Bold";
    padding-bottom: 10px;
    font-size: 1.1rem;
}

.social-icons{
    width: 100%;
    display: grid;
    justify-content: center;
}

.social-icons img{
    width: 30px;
    filter: invert(50%);
    padding-bottom: 10px;
}

.social-icons img:last-of-type{
    padding-bottom: 0;
}