.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

.skill-node{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.academic-node{
    display: grid;
    grid-template-columns: 80px auto;
}