<div class="about-container">

  <div class="about-title">
    <h2>
      Olá! Seja bem vindo ao meu portfólio!
      <br>
      Me chamo Lucas e sou um desenvolvedor Front-End!
    </h2>
  </div>

  <div class="about-me">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac tempor risus. Sed vitae massa in libero finibus ornare. Nam a est consectetur, porttitor purus ut, porttitor magna. Duis egestas elit sit amet nunc congue ultrices. Proin nec eros convallis dui egestas vehicula. Duis sed ligula imperdiet, maximus ligula vel, placerat dolor. Ut tempus sed nulla et sollicitudin. Etiam a velit accumsan, porta mauris quis, venenatis turpis. Nunc neque sapien, aliquet aliquet congue a, congue ac ante.
    </p>
  </div>

  <div class="academic-formation">
    <h3>Formação Acadêmica:</h3>

    <div class="academic-formation-container">

      <div *ngFor="let formation of academicFormation" class="academic-formation-node">

        <h4>{{formation.name}}</h4>

        <span>{{formation.year}}</span>

        <div class="formation-icon-wrapper">
            <img class="formation-icon" [src]="'assets/img/icons/' + formation.icon + '.svg' " alt="">
        </div>

        <h5>{{formation.organization}}</h5>

        <p>{{formation.description}}</p>

      </div>

    </div>
  </div>

  <div class="skills">
    <h3>Eu trabalho constantemente com:</h3>

    <div class="skill-container">
      <div *ngFor="let skill of skills" class="skill-node">
          
        <img [src]="'assets/img/icons/' + skill.icon + '.svg'" alt="">

        <div class="skill-name">
          {{skill.name}}
        </div>    

      </div>
    </div>

    <h3>Já fiz projetos utilizando:</h3>

    <div class="skill-container">
      <div *ngFor="let skill of lessSkills" class="skill-node">
          
        <img [src]="'assets/img/icons/' + skill.icon + '.svg'" alt="">

        <div class="skill-name">
          {{skill.name}}
        </div>    

      </div>
    </div>



  </div>  
  

</div>