<div class="contact-background">
    <div class="contact-container">
        <h2>Entre em Contato</h2>

        <div class="social-medias">
            <ng-container *ngFor="let element of socialMedia">
                <a [href]="element.link" target="_blank">
                    <div class="social-node">
                        <img [src]="'assets/img/' + element.icon + '.svg'" [alt]="element.name">
                        <h6>{{element.name}}</h6>
                        <a [href]="element.link" target="_blank">{{element.humanLink}}</a>
                    </div>
                </a>

            </ng-container>
        </div>

        <div class="direct-contact">
            <div class="nome-container">
                <label>Nome</label>
                <input type="text" [(ngModel)]="name">
            </div>

            <div class="email-container">
                <label for="">Email</label>
                <input type="text" [(ngModel)]="email">
            </div>

            <div class="textarea-container">
                <label for="">Digite sua mensagem</label>
                <textarea name="" id="" [(ngModel)]="message"></textarea>
            </div>

            <h5 *ngIf="error" class="error">Os campos devem estar preenchidos</h5>

            <h5 *ngIf="success" class="sucess">Enviado com sucesso</h5>

        </div>

        <div class="send-button">
            <button (click)="checkForm()">Enviar</button>
        </div>
    </div>
</div>